[Desktop Entry]
Encoding=UTF-8
Name=Amazfish
Comment=Watch companion application
Exec=/usr/libexec/amazfish-ui-launcher
Icon=harbour-amazfish
Terminal=false
X-MultipleArgs=false
Type=Application
X-Osso-Type=application/x-executable
